<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConKey" value="EFD" />
    <add key="DBName" value="EFD-TEST-DB.mdb" />
    <add key="UrlAddProductRedirect" value="http://localhost:1234/easymanage/addproduct.aspx" />
    <add key="UrlGetCategory" value="http://localhost:1234/GetCategory.aspx" />
    <add key="UrlGetProductCode" value="http://localhost:1234/GetProductCode.aspx" />
    <add key="MediaLibraryPath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\Publish\MediaLibrary\" />
    <add key="ImageRenamedLibraryPath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\Publish\RenamedImages\" />
    <add key="ImageLibraryPath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\Publish\ImageLibrary\" />
    <add key="ImageBackupPath" value="C:\EasyFound\" />
    <add key="ImageDebugPath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\ExamSys\bin\Debug\template\ImageLib\" />
    <add key="ImageReleasePath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\ExamSys\bin\Release\template\ImageLib\" />
    <add key="ImageEFDPath" value="C:\EasyFound\EFD Universal\template\ImageLib\" />
    <add key="DataBaseDebugPath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\ExamSys\bin\Debug\" />
    <add key="DataBaseEFDPath" value="C:\EasyFound\EFD Universal\" />
    <add key="CidDebugPath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\ExamSys\bin\Debug\Cid.cab" />
    <add key="CidReleasePath" value="C:\Users\wjcking\Documents\Visual Studio 2010\Projects\ExamSys\ExamSys\bin\Release\Cid.cab" />
    <add key="CidEFDPath" value="C:\EasyFound\EFD Universal\Cid.cab" />
    <add key="CidBackupPath" value="C:\产品分类文件(Cid.cab)\" />
    <add key="DbDirectory" value=" " />
  </appSettings>
  
</configuration>