<table style="color: #333333; border-collapse: collapse; width: 95%; border:0px;" cellpadding="5px" cellspacing="0px">
            <tr style="color: White; background-color: black; font-weight: bold; text-align: left;">
                <th scope="col" style="width: 5%;" >
                    ±àºÅ
                </th>
                <th scope="col" style="width: 10%;" >
                    ±ê¼Ç
                </th>
                <th style="width: 70%;" scope="col">
                    {#tableCheckOut.MainSubject#}
                </th>
                <th scope="col" style="width: 15%;" >
                    ×÷´ð
                </th>
            </tr>
            {#tableCheckOut.CheckingOut#}
        </table>